@import url('../App.css');

#task-form {
  width: 100%;
  margin: 0 auto 40px auto;
}

#task-input {
  width: 94%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--main-background);
  font-size: 1.2rem;
  outline: none;
  background-color: var(--input-background);
  color: var(--primary-text);
  caret-color: var(--alt-text);

  &:hover, &:focus {
    background-color: var(--input-hover);
  }

  &::placeholder {
    color: var(--alt-text);
  }
}