@import url('../App.css');

.task-list {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 2%;
  height: 80%;
  overflow-y: auto;
  scrollbar-color: var(--task-background) var(--main-background);
  scrollbar-width: 10px;
}

@media (max-width: 800px) {
  .task-list {
    height: 70%;
  }
}