@import url('../App.css');

.task-info {
  width: 25vw;
  height: 100vh;
  background-color: var(--side-background);
  padding: 20px;
  position: relative;

  .close-icon {
    width: fit-content;
    color: #e4e4e4;
    padding: 5px;
    float: right;
    margin-bottom: 20px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: var(--x-hover);
    }
  }

  .edit-container {
    margin: 30px 0;

    .edit-task {
      width: 94%;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid var(--side-background);
      font-size: 1.2rem;
      outline: none;
      background-color: var(--edit-background);
      color: var(--primary-text);
      caret-color: var(--alt-text);
    }
  }
  
  input[type="datetime-local"] {
    background-color: var(--edit-background);
    color: var(--date-color);
    padding: 20px;
    width: 80%;
    font-size: 1.2em;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--side-background);

    &[data-theme="dark"] {
      color-scheme: light;
    }

    &[data-theme="light"] {
      color-scheme: dark;
    }
  }

  h3 {
    color: var(--due-date-color)
  }

  h4 {
    color: var(--icon-default)
  }

  .creation-date {
    text-align: center;
    position: absolute;
    bottom: 0;
    color: var(--icon-default);
    border-top: 1px solid var(--icon-default);
    width: 90%;
  }
}

@media (max-width: 800px) {
  .task-info {
    width: 50vw;
  }
}

@media (max-width: 600px) {
  .task-info {
    width: 100vw;
    animation: expand-left 0.2s linear;

    .close-icon {
      padding: 10px;
    }

    input[type="datetime-local"] {
      width: 60%;
    }
  }
}

@keyframes expand-left {
  from { width: 0 }
  to { width: 100vw }
}