@import url('../App.css');

.trash-container {
  margin-bottom: 0;
  background-color: var(--task-background);
  padding: 20px;
  font-size: 1.2em;
  border-radius: 10px;
  width: 95%;
  display: flex;
  align-items: center;
  animation: show 0.2s linear;

  &:hover {
    transition: all 0.5s;
    background-color: var(--task-hover);
  }

   p {
    word-wrap: break-word;
    word-break: break-all;
    width: 90%;
    margin: 0 10px;
    color: lightgrey;
    text-decoration: line-through;
  }

  .modifiers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    color: var(--icon-default);

    .restore:hover {
      color: var(--restore);
      cursor: pointer;
    }

    .delete {
      margin-left: 10px;

      &:hover {
        color: var(--trash);
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 600px) {
  .trash-container .modifiers {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    .delete {
      margin: 0;
    }
  }
}