:root {
  --primary: #262626;
  --primary-darker: #141414;
  --secondary: #333333;
  --secondary-bright: #444444;
  --side: #363535;
  --icon-default: #ffffff;
  --star: #e2e201;
  --trash: #d00000;
  --trash-hold: #130101;
  --accent: #a3bcc0ff;
  --accent-darker: #83a0a5ff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: rgb(0,0,0);
  overflow: hidden;
  margin: 0;
}

.ham-menu {
  color: var(--accent);
  margin-bottom: 20px;
  display: none;
}

.ham-icon:hover {
  cursor: pointer;
}

.nav-container .ham-menu {
  margin-left: 10px;
  margin-top: 10px;
}

.outer-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.nav-container {
  width: 20vw;
  height: 100vh;
  background-color: var(--side);
}

.middle-container {
  width: 80vw;
  background-color: var(--primary);
  padding: 40px;
  color: #ffffff;
  border-radius: 5px;
  height: 100vh;
}

.middle-container h2 {
  color: var(--accent);
}

.task-list {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 2%;
  height: 80%;
  overflow-y: auto;
  scrollbar-color: var(--secondary) var(--primary);
  scrollbar-width: 10px;
}

.task-container {
  margin-bottom: 0;
  background-color: var(--secondary);
  padding: 20px;
  font-size: 1.2em;
  border-radius: 10px;
  width: 95%;
  display: flex;
  align-items: center;
  animation: show 0.2s linear;
}

.modifiers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px
}

.star-icon:hover {
  color: var(--accent-darker);
  cursor: pointer;
}

.trash-icon {
  margin-left: 3.5px;
}

.trash-icon:hover {
  color: var(--trash);
  cursor: pointer;
}

.task-container p {
  word-wrap: break-word;
  word-break: break-all;
  width: 90%;
  margin: 0 10px;
}

.task-container p:hover {
  cursor: default;
}

.task-container:hover {
  transition: all 0.5s;
  background-color: var(--secondary-bright);
}

.task-info {
  width: 25vw;
  height: 100vh;
  background-color: var(--secondary-bright);
}

.close-icon {
  color: var(--icon-default);
  direction: rtl;
  margin-right: 10%;
  margin-top: 5%;
}

.close-icon:hover {
  cursor: pointer;
}

#task-form {
  width: 100%;
  margin: 0 auto 40px auto;
}

#task-input {
  width: 94%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--primary);
  font-size: 1.2rem;
  outline: none;
  background-color: var(--secondary);
  color: #ffffff;
  caret-color: var(--accent);
}

#task-input:hover, #task-input:focus {
  background-color: var(--secondary-bright);
}

#task-input::placeholder {
  color: var(--accent);
}

#search-input {
  width: 80%;
  padding: 10px;
  margin-left: 8%;
  border-radius: 5px;
  border: 1px solid var(--side);
  font-size: 0.9em;
  outline: none;
  background-color: var(--primary);
  color: #ffffff;
  caret-color: var(--accent);
}

#search-input:hover, #search-input:focus {
  background-color: var(--primary-darker);
}

#search-input::placeholder {
  color: var(--accent)
}

input[type="checkbox"] {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid grey;
  outline: none;
  appearance: none;
  flex-shrink: 0;
}

input[type="checkbox"]:hover {
  background-color: var(--primary);
}

input[type="checkbox"]:checked {
  clip-path: circle(50% at 50% 50%);
  appearance: auto;
  accent-color: var(--accent);
}

.logo {
  width: 100%;
}

@media (max-width: 600px) {
  .nav-container {
    display: none;
    width: 0;
  }

  .middle-container {
    width: 100vw;
  }

  .task-list {
    height: 70%;
  }

  .ham-menu {
    display: block;
  }

  .modifiers {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  .task-info {
    width: 100vw;
    animation: expand-left 0.2s linear;
  }
}

@keyframes expand {
  from { width: 0 }
  to { width: 70vw }
}

@keyframes expand-left {
  from { width: 0 }
  to { width: 100vw }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}