[data-theme="dark"] {
  --primary-text: #ffffff;
  --alt-text: #a3bcc0;
  --nav-highlight: #83a0a5;
  --icon-default: #ffffff;
  --main-background: #262626;
  --nav-background: #363535;
  --side-background: #444444;
  --search-border-color: #83a0a5;
  --task-background: #333333;
  --task-hover: #444444;
  --checkbox-hover: #262626;
  --checkbox-checked: #a3bcc0;
  --star-hover: #83a0a5;
  --x-hover: #333333;
  --edit-background: #333333;
  --date-color: #a3bcc0;
  --due-date-color: #a3bcc0;
  --input-background: #333333;
  --input-hover: #444444;
  --trash: #ba0000;
  --restore: #02aa02;

  color-scheme: dark;
}

[data-theme="light"] {
  --primary-text: #000000;
  --alt-text: #26240a;
  --nav-highlight: #ffffff;
  --icon-default: #ffffff;
  --main-background: #ffffff;
  --nav-background: #acaab4;
  --side-background: #413e3e;
  --search-border-color: #000000;
  --task-background: #3a3a36;
  --task-hover: #22221f;
  --checkbox-hover: #c0bfbf;
  --checkbox-checked: #c0bfbf;
  --star-hover: #cacaca;
  --x-hover: #2c2c2c;
  --edit-background: #ffffff;
  --date-color: #000000;
  --due-date-color: #ffffff;
  --input-background: #acaab4;
  --input-hover: #c9c6d2;
  --trash: #ba0000;
  --restore: #02aa02;

  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: var(--main-background);
}

.outer-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.ham-menu {
  color: var(--alt-text);
  margin-bottom: 20px;
  display: none;
}

.ham-icon:hover {
  cursor: pointer;
}

.middle-container {
  width: 80vw;
  background-color: var(--main-background);
  padding: 40px;
  height: 100vh;

  h2 {
    color: var(--alt-text);
  }
}

@media (max-width: 800px) {
  .middle-container {
    width: 100vw;
  }

  .ham-menu {
    display: block;
  }
}